<a href="https://colab.research.google.com/github/DaniliukK95/Drops_Of_Jupyter/blob/Amy-Ying-Lin/cleaned1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import balanced_accuracy_score, confusion_matrix

In [ ]:
# change your file path to load it
test_df = pd.read_csv('/Users/yinglin/Desktop/NHIS/adult21.csv')
test_df.head()

,URBRRL,RATCAT_A,IMPINCFLG_A,CVDVAC2YR_A,CVDVAC2MR_A,CVDVAC1YR_A,CVDVAC1MR_A,SHTCVD19AV_A,SHTCVD19NM_A,SHTCVD19_A,...,PROXYREL_A,PROXY_A,AVAIL_A,HHSTAT_A,INTV_MON,RECTYPE,IMPNUM_A,WTFA_A,HHX,POVRATTC_A
0,4,7,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,1,1,10,1,5423.324,H056808,1.93
1,4,12,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,1,1,10,1,3832.196,H018779,4.45
2,4,14,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,1,1,10,1,3422.661,H049265,5.94
3,3,11,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,1,1,10,1,12960.165,H007699,3.70
4,1,6,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,1,1,10,1,9284.618,H066034,1.66

In [ ]:
# new df with variables wanted
# NOTE: inctotoal_a is not in the col.

clean_df = test_df.loc[:, [ 'HHX','REGION','AGEP_A','SEX_A', 'EDUCP_A', 'HISP_A', 'HISPALLP_A', 'HISDETP_A', 'RACEALLP_A',
                         'PHSTAT_A', 'DIBEV_A', 'PREDIB_A', 'DIBPILL_A', 'DIBINS_A', 'DIBTYPE_A', 'KIDWEAKEV_A', 'WEIGHTLBTC_A', 'BMICAT_A',
                         'COVER_A', 'COVER65_A', 'MCPART_A', 'MCCHOICE_A', 'MCHMO_A', 'MCADVR_A', 'MCPARTD_A', 'MAXCHNG_A', 'MAPREM_A',
                         'MADEDUC_A', 'MAHDHP_A', 'MAHDHP_A', 'MAFLG_A', 'PLN1PAY4_A', 'PLN2PAY4_A', 'HISTOPELIG_A',
                         'POVRATTC_A', 'RATCAT_A', 'INCWRKO_A', 'INCSSISSDI_A', 'INCRETIRE_A'
                          ] ]
clean_df

,HHX,REGION,AGEP_A,SEX_A,EDUCP_A,HISP_A,HISPALLP_A,HISDETP_A,RACEALLP_A,PHSTAT_A,...,MAHDHP_A,MAFLG_A,PLN1PAY4_A,PLN2PAY4_A,HISTOPELIG_A,POVRATTC_A,RATCAT_A,INCWRKO_A,INCSSISSDI_A,INCRETIRE_A
0,H056808,3,50,1,1,2,2,3,1,2,...,NaN,NaN,2.0,NaN,NaN,1.93,7,1,2.0,2.0
1,H018779,3,53,1,7,2,3,3,2,2,...,NaN,NaN,2.0,NaN,NaN,4.45,12,1,2.0,2.0
2,H049265,3,56,1,8,2,2,3,1,2,...,NaN,NaN,2.0,NaN,NaN,5.94,14,1,2.0,2.0
3,H007699,3,57,2,5,2,2,3,1,4,...,NaN,NaN,NaN,NaN,NaN,3.70,11,1,1.0,1.0
4,H066034,3,25,1,4,2,3,3,2,3,...,NaN,NaN,2.0,NaN,NaN,1.66,6,8,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29477,H012375,4,70,2,9,2,2,3,1,2,...,NaN,NaN,2.0,NaN,NaN,5.11,14,2,2.0,2.0
29478,H052160,4,35,2,7,1,1,2,8,4,...,NaN,NaN,2.0,NaN,NaN,3.03,10,1,2.0,2.0
29479,H051563,4,72,2,4,2,2,3,1,2,...,NaN,NaN,NaN,NaN,NaN,2.07,8,2,2.0,2.0
29480,H058432,4,58,1,5,2,2,3,1,3,...,NaN,NaN,NaN,NaN,NaN,2.05,8,2,1.0,2.0
29481,H052354,4,57,2,4,2,2,3,1,4,...,NaN,NaN,2.0,NaN,NaN,4.89,13,1,2.0,2.0

In [ ]:
# rename clean_df col.
clean_df2 = clean_df.rename(columns={'HHX':'Unique ID',
                                    'REGION': 'Household region',
                                    'AGEP_A': 'Age of sample adult',
                                    'SEX_A': 'Sex of sample adult',
                                    'EDUCP_A': 'Education of sample adult',
                                    'HISP_A': 'Hispanic ethnicity of SA',
                                    'HISPALLP_A': 'Single + Mult race gps w Hispanic origin',
                                    'HISDETP_A': 'Hispanic origin detail',
                                    'RACEALLP_A': 'Single and multiple race groups',
                                   
                                    'PHSTAT_A': 'General health status',
                                    'DIBEV_A': 'Ever had Diabetes?',
                                    'PREDIB_A': 'Ever had pre-diabetes?', 
                                    'DIBPILL_A': 'Taking diabetic pills',
                                    'DIBINS_A': 'Taking insuliin',
                                    'DIBTYPE_A': 'Diabetes type',
                                    'KIDWEAKEV_A': 'Ever had weak/failing kidneys',
                                    'WEIGHTLBTC_A': 'Weight without shoes (pounds)',
                                    'BMICAT_A': 'Categorical Body Mass Index',
                                    
                                    'COVER_A' : 'Health insurance hierarchy under 65',
                                    'COVER65_A': 'Health insurance hierarchy under 65',
                                    'MCPART_A': 'Type of Medicare coverage',                                         
                                    'MCCHOICE_A': 'Enrolled in Medicare Advantage Plan', 
                                    'MCHMO_A': 'Medicare HMO',
                                    'MCADVR_A': 'Medicare Advantage Plan',
                                    'MCPARTD_A': 'Medicare Part D', 
                                    'MAXCHNG_A': 'Medicaid through Marketplace ',
                                    'MAPREM_A': 'Medicaid premium',
                                    'MADEDUC_A': 'Medicaid deductible', 
                                    'MAHDHP_A': 'Medicaid HDHP', 
                                    'MAFLG_A': 'Medicaid reassignment flag',
                                    'PLN1PAY4_A': 'Paid for by Medicare - plan 1',
                                    'PLN2PAY4_A': 'Paid for by Medicare - plan 2',
                                    'HISTOPELIG_A': 'Not eligible for Medicaid, CHIP, or other public coverage',
                                    
                                    'POVRATTC_A': 'SA family poverty ratio',
                                    'RATCAT_A': 'Ratio of family income to poverty threshold for SA’s family',
                                    'INCWRKO_A': 'income from wages',
                                    'INCSSISSDI_A': 'income from SSI SSDI',
                                    'INCRETIRE_A': 'income from retirement' })
                           


clean_df

,HHX,REGION,AGEP_A,SEX_A,EDUCP_A,HISP_A,HISPALLP_A,HISDETP_A,RACEALLP_A,PHSTAT_A,...,MAHDHP_A,MAFLG_A,PLN1PAY4_A,PLN2PAY4_A,HISTOPELIG_A,POVRATTC_A,RATCAT_A,INCWRKO_A,INCSSISSDI_A,INCRETIRE_A
0,H056808,3,50,1,1,2,2,3,1,2,...,NaN,NaN,2.0,NaN,NaN,1.93,7,1,2.0,2.0
1,H018779,3,53,1,7,2,3,3,2,2,...,NaN,NaN,2.0,NaN,NaN,4.45,12,1,2.0,2.0
2,H049265,3,56,1,8,2,2,3,1,2,...,NaN,NaN,2.0,NaN,NaN,5.94,14,1,2.0,2.0
3,H007699,3,57,2,5,2,2,3,1,4,...,NaN,NaN,NaN,NaN,NaN,3.70,11,1,1.0,1.0
4,H066034,3,25,1,4,2,3,3,2,3,...,NaN,NaN,2.0,NaN,NaN,1.66,6,8,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29477,H012375,4,70,2,9,2,2,3,1,2,...,NaN,NaN,2.0,NaN,NaN,5.11,14,2,2.0,2.0
29478,H052160,4,35,2,7,1,1,2,8,4,...,NaN,NaN,2.0,NaN,NaN,3.03,10,1,2.0,2.0
29479,H051563,4,72,2,4,2,2,3,1,2,...,NaN,NaN,NaN,NaN,NaN,2.07,8,2,2.0,2.0
29480,H058432,4,58,1,5,2,2,3,1,3,...,NaN,NaN,NaN,NaN,NaN,2.05,8,2,1.0,2.0
29481,H052354,4,57,2,4,2,2,3,1,4,...,NaN,NaN,2.0,NaN,NaN,4.89,13,1,2.0,2.0

## correlation bet. taking diab. pill and income from wates

In [ ]:
# taking diab. pill & income from wages cols
clean_df3 = clean_df2.loc[:, ['Taking diabetic pills', 'income from wages'] ]
clean_df3

       Taking diabetic pills  income from wages
0                        1.0                  1
1                        1.0                  1
2                        NaN                  1
3                        NaN                  1
4                        NaN                  8
...                      ...                ...
29477                    NaN                  2
29478                    1.0                  1
29479                    NaN                  2
29480                    NaN                  2
29481                    1.0                  1

[29482 rows x 2 columns]

In [ ]:
# can't pd.get_dummies and .loc[] together
#clean_df3 = pd.get_dummies(clean_df3.loc[:,['Taking diabetic pills',
  #                                            'income from wages'] ] )
#clean_df3

In [ ]:
# .dropna()
clean_df4 = clean_df3.dropna()
clean_df4

       Taking diabetic pills  income from wages
0                        1.0                  1
1                        1.0                  1
8                        2.0                  1
12                       1.0                  8
15                       2.0                  1
...                      ...                ...
29470                    1.0                  2
29473                    1.0                  2
29476                    1.0                  1
29478                    1.0                  1
29481                    1.0                  1

[5702 rows x 2 columns]

### splite the data into training and testing

pandas.get_dummies(data, columns='')

convert categorical variable into dummy/indicator variables

In [ ]:
# conver cate. var. into indicators
clean_df5 = pd.get_dummies(clean_df4, columns=['Taking diabetic pills',
                                              'income from wages'])
clean_df5

,Taking diabetic pills_1.0,Taking diabetic pills_2.0,Taking diabetic pills_7.0,Taking diabetic pills_9.0,income from wages_1,income from wages_2,income from wages_7,income from wages_8,income from wages_9
0,1,0,0,0,1,0,0,0,0
1,1,0,0,0,1,0,0,0,0
8,0,1,0,0,1,0,0,0,0
12,1,0,0,0,0,0,0,1,0
15,0,1,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...
29470,1,0,0,0,0,1,0,0,0
29473,1,0,0,0,0,1,0,0,0
29476,1,0,0,0,1,0,0,0,0
29478,1,0,0,0,1,0,0,0,0
29481,1,0,0,0,1,0,0,0,0

In [ ]:
# drop anything but 'taking diabetic pill_1.0' (target)
clean_df6 = clean_df5.drop(columns={'Taking diabetic pills_2.0', 'Taking diabetic pills_7.0','Taking diabetic pills_9.0'})
clean_df6

,Taking diabetic pills_1.0,income from wages_1,income from wages_2,income from wages_7,income from wages_8,income from wages_9
0,1,1,0,0,0,0
1,1,1,0,0,0,0
8,0,1,0,0,0,0
12,1,0,0,0,1,0
15,0,1,0,0,0,0
...,...,...,...,...,...,...
29470,1,0,1,0,0,0
29473,1,0,1,0,0,0
29476,1,1,0,0,0,0
29478,1,1,0,0,0,0
29481,1,1,0,0,0,0

In [ ]:
# create our features
X = clean_df6.drop(columns=['Taking diabetic pills_1.0'])
X.head()

,income from wages_1,income from wages_2,income from wages_7,income from wages_8,income from wages_9
0,1,0,0,0,0
1,1,0,0,0,0
8,1,0,0,0,0
12,0,0,0,1,0
15,1,0,0,0,0

In [ ]:
X.describe()

,income from wages_1,income from wages_2,income from wages_7,income from wages_8,income from wages_9
count,5702.000000,5702.000000,5702.000000,5702.000000,5702.000000
mean,0.561382,0.398281,0.006138,0.033497,0.000702
std,0.496261,0.489587,0.078113,0.179946,0.026479
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,1.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
# create the target
y = clean_df6['Taking diabetic pills_1.0']
y[:5]

0     1
1     1
8     0
12    1
15    0
Name: Taking diabetic pills_1.0, dtype: uint8

In [ ]:
# check the balance of the target value
y.value_counts()

# result: good, 1:1 ratio of taking vs. not taking, no need to resample the data

0    2897
1    2805
Name: Taking diabetic pills_1.0, dtype: int64

In [ ]:
# standardize
X_scaled = StandardScaler().fit_transform(X)
print(X_scaled)

[[ 0.88392213 -0.81357615 -0.07858821 -0.18616648 -0.0264953 ]
 [ 0.88392213 -0.81357615 -0.07858821 -0.18616648 -0.0264953 ]
 [ 0.88392213 -0.81357615 -0.07858821 -0.18616648 -0.0264953 ]
 ...
 [ 0.88392213 -0.81357615 -0.07858821 -0.18616648 -0.0264953 ]
 [ 0.88392213 -0.81357615 -0.07858821 -0.18616648 -0.0264953 ]
 [ 0.88392213 -0.81357615 -0.07858821 -0.18616648 -0.0264953 ]]

In [ ]:
# split data
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [ ]:
# 75% train, 25% test 
print(X_train.shape)
print(X_test.shape)

(4276, 5)
(1426, 5)

In [ ]:
# 75% train, 25% test 
print(y_train.shape)
print(y_test.shape)

(4276,)
(1426,)

In [ ]:
# train  the logistic regression model
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_scaled, y)

LogisticRegression(random_state=1)

In [ ]:
# cal. the balanced accuracy score
y_pred = model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

/Users/yinglin/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:443: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  warnings.warn(

0.5311977962516602