In [1]:
import pandas as pd

from sqlalchemy import create_engine
import psycopg2

from config import db_password

In [3]:
cleaned_df = pd.read_csv('Grand_daddy.csv')
cleaned_df.head()

,Unnamed: 0,Unique ID,Household region,Age of sample adult,Sex of sample adult,Education of sample adult,Hispanic ethnicity of SA,Single + Mult race gps w Hispanic origin,Hispanic origin detail,Single and multiple race groups,...,Medicaid HDHP.1,Medicaid reassignment flag,Paid for by Medicare - plan 1,Paid for by Medicare - plan 2,"Not eligible for Medicaid, CHIP, or other public coverage",SA family poverty ratio,Ratio of family income to poverty threshold for SA’s family,income from wages,income from SSI SSDI,income from retirement
0,0,H056808,3,50,1,1,2,2,3,1,...,NaN,NaN,2.0,NaN,NaN,1.93,7,1,2.0,2.0
1,1,H018779,3,53,1,7,2,3,3,2,...,NaN,NaN,2.0,NaN,NaN,4.45,12,1,2.0,2.0
2,2,H049265,3,56,1,8,2,2,3,1,...,NaN,NaN,2.0,NaN,NaN,5.94,14,1,2.0,2.0
3,3,H007699,3,57,2,5,2,2,3,1,...,NaN,NaN,NaN,NaN,NaN,3.70,11,1,1.0,1.0
4,4,H066034,3,25,1,4,2,3,3,2,...,NaN,NaN,2.0,NaN,NaN,1.66,6,8,NaN,NaN

In [4]:
cleaned_df.columns

Index(['Unnamed: 0', 'Unique ID', 'Household region', 'Age of sample adult',
       'Sex of sample adult', 'Education of sample adult',
       'Hispanic ethnicity of SA', 'Single + Mult race gps w Hispanic origin',
       'Hispanic origin detail', 'Single and multiple race groups',
       'General health status', 'Ever had Diabetes?', 'Ever had pre-diabetes?',
       'Taking diabetic pills', 'Taking insuliin', 'Diabetes type',
       'Ever had weak/failing kidneys', 'Weight without shoes (pounds)',
       'Categorical Body Mass Index', 'Health insurance hierarchy under 65',
       'Health insurance hierarchy under 65.1', 'Type of Medicare coverage',
       'Enrolled in Medicare Advantage Plan', 'Medicare HMO',
       'Medicare Advantage Plan', 'Medicare Part D',
       'Medicaid through Marketplace ', 'Medicaid premium',
       'Medicaid deductible', 'Medicaid HDHP', 'Medicaid HDHP.1',
       'Medicaid reassignment flag', 'Paid for by Medicare - plan 1',
       'Paid for by Medicare - plan 2',
       'Not eligible for Medicaid, CHIP, or other public coverage',
       'SA family poverty ratio',
       'Ratio of family income to poverty threshold for SA’s family',
       'income from wages', 'income from SSI SSDI', 'income from retirement'],
      dtype='object')

In [5]:
General_Health_Status_df = cleaned_df.loc[ :, ['Unique ID',
                                         'Ever had Diabetes?', 
                                         'Weight without shoes (pounds)', 
                                         'Categorical Body Mass Index'] ] 
General_Health_Status_df

,Unique ID,Ever had Diabetes?,Weight without shoes (pounds),Categorical Body Mass Index
0,H056808,2,199,3
1,H018779,1,205,3
2,H049265,2,160,3
3,H007699,2,190,4
4,H066034,2,250,4
...,...,...,...,...
29477,H012375,2,140,3
29478,H052160,1,220,4
29479,H051563,2,130,3
29480,H058432,2,168,2
29481,H052354,1,184,4

In [6]:
General_Health_Status_df = General_Health_Status_df.rename(columns={'Unique ID':'ID',
                                           'Ever had Diabetes?': 'Diabetes',
                                         'Weight without shoes (pounds)' : 'Weight',
                                         'Categorical Body Mass Index' : 'BMI' } )
                            
General_Health_Status_df

            ID  Diabetes  Weight  BMI
0      H056808         2     199    3
1      H018779         1     205    3
2      H049265         2     160    3
3      H007699         2     190    4
4      H066034         2     250    4
...        ...       ...     ...  ...
29477  H012375         2     140    3
29478  H052160         1     220    4
29479  H051563         2     130    3
29480  H058432         2     168    2
29481  H052354         1     184    4

[29482 rows x 4 columns]

In [7]:
# localserver, the connection string
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Drops_of_Jupyter"
    
# create the database engine
engine = create_engine(db_string)
 
# specify the name of the table and the engine in the to_sql() method
General_Health_Status_df.to_sql(name='General_Health_Status', con=engine, if_exists= 'replace', index=False)

482