# Linear regression

In [1]:
from sqlalchemy import create_engine
import psycopg2
from config import db_password

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

import sklearn as skl
from sklearn import linear_model
from imblearn.under_sampling import RandomUnderSampler
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
# localserver, the connection string
dbEngine = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Drops_of_Jupyter"

# create the database engine
engine = create_engine(dbEngine)
conn = engine.connect()

In [3]:
# Read data from PostgreSQL database table and load into a DataFrame instance
ghs_df = pd.read_sql("select * from general_health_status", conn);
ghs_df

,ID,General_Health_Status,Diabetes,Prediabetes,Weight_Lbs,Categorical_BMI
0,H056808,Very_Good,no,yes,199.0,Overweight
1,H018779,Very_Good,yes,yes,205.0,Overweight
2,H049265,Very_Good,no,no,160.0,Overweight
3,H007699,Fair,no,no,190.0,Obese
4,H066034,Good,no,no,250.0,Obese
...,...,...,...,...,...,...
29477,H012375,Very_Good,no,no,140.0,Overweight
29478,H052160,Fair,yes,yes,220.0,Obese
29479,H051563,Very_Good,no,no,130.0,Overweight
29480,H058432,Good,no,no,168.0,Healthy_Weight
29481,H052354,Fair,yes,yes,184.0,Obese

In [4]:
# Read data from PostgreSQL database table and load into a DataFrame instance
ind_df = pd.read_sql("select * from individual", conn)
ind_df

,ID,Region,Age,Gender,Education,Race,Poverty_Ratio
0,H056808,South,50,Male,Grade_1-11,White_Only,1.93
1,H018779,South,53,Male,Associates_Academic_Program,African_American_Only,4.45
2,H049265,South,56,Male,Bachelor,White_Only,5.94
3,H007699,South,57,Female,Some_College_no_degree,White_Only,3.70
4,H066034,South,25,Male,High_School_Graduate,African_American_Only,1.66
...,...,...,...,...,...,...,...
29477,H012375,West,70,Female,Masters,White_Only,5.11
29478,H052160,West,35,Female,Associates_Academic_Program,None,3.03
29479,H051563,West,72,Female,High_School_Graduate,White_Only,2.07
29480,H058432,West,58,Male,Some_College_no_degree,White_Only,2.05
29481,H052354,West,57,Female,High_School_Graduate,White_Only,4.89

In [5]:
# merge two dfs
clean_df2 = ghs_df.merge(ind_df, how='inner', on='ID')
clean_df2

,ID,General_Health_Status,Diabetes,Prediabetes,Weight_Lbs,Categorical_BMI,Region,Age,Gender,Education,Race,Poverty_Ratio
0,H056808,Very_Good,no,yes,199.0,Overweight,South,50,Male,Grade_1-11,White_Only,1.93
1,H018779,Very_Good,yes,yes,205.0,Overweight,South,53,Male,Associates_Academic_Program,African_American_Only,4.45
2,H049265,Very_Good,no,no,160.0,Overweight,South,56,Male,Bachelor,White_Only,5.94
3,H007699,Fair,no,no,190.0,Obese,South,57,Female,Some_College_no_degree,White_Only,3.70
4,H066034,Good,no,no,250.0,Obese,South,25,Male,High_School_Graduate,African_American_Only,1.66
...,...,...,...,...,...,...,...,...,...,...,...,...
29477,H012375,Very_Good,no,no,140.0,Overweight,West,70,Female,Masters,White_Only,5.11
29478,H052160,Fair,yes,yes,220.0,Obese,West,35,Female,Associates_Academic_Program,None,3.03
29479,H051563,Very_Good,no,no,130.0,Overweight,West,72,Female,High_School_Graduate,White_Only,2.07
29480,H058432,Good,no,no,168.0,Healthy_Weight,West,58,Male,Some_College_no_degree,White_Only,2.05
29481,H052354,Fair,yes,yes,184.0,Obese,West,57,Female,High_School_Graduate,White_Only,4.89

In [6]:
# columns in df
clean_df2.columns

Index(['ID', 'General_Health_Status', 'Diabetes', 'Prediabetes', 'Weight_Lbs',
       'Categorical_BMI', 'Region', 'Age', 'Gender', 'Education', 'Race',
       'Poverty_Ratio'],
      dtype='object')

In [7]:
#clean_df2 = clean_df2.to_csv(r'/Users/yinglin/Desktop/NHIS/clean.csv')

In [8]:
#clean_df2 = pd.read_csv('/Users/yinglin/Desktop/NHIS/clean.csv')
#clean_df2

,Unnamed: 0,ID,General_Health_Status,Diabetes,Prediabetes,Weight_Lbs,Categorical_BMI,Region,Age,Gender,Education,Race,Poverty_Ratio
0,0,H056808,Very_Good,no,yes,199.0,Overweight,South,50,Male,Grade_1-11,White_Only,1.93
1,1,H018779,Very_Good,yes,yes,205.0,Overweight,South,53,Male,Associates_Academic_Program,African_American_Only,4.45
2,2,H049265,Very_Good,no,no,160.0,Overweight,South,56,Male,Bachelor,White_Only,5.94
3,3,H007699,Fair,no,no,190.0,Obese,South,57,Female,Some_College_no_degree,White_Only,3.70
4,4,H066034,Good,no,no,250.0,Obese,South,25,Male,High_School_Graduate,African_American_Only,1.66
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29477,29477,H012375,Very_Good,no,no,140.0,Overweight,West,70,Female,Masters,White_Only,5.11
29478,29478,H052160,Fair,yes,yes,220.0,Obese,West,35,Female,Associates_Academic_Program,Not_Ascertained,3.03
29479,29479,H051563,Very_Good,no,no,130.0,Overweight,West,72,Female,High_School_Graduate,White_Only,2.07
29480,29480,H058432,Good,no,no,168.0,Healthy_Weight,West,58,Male,Some_College_no_degree,White_Only,2.05
29481,29481,H052354,Fair,yes,yes,184.0,Obese,West,57,Female,High_School_Graduate,White_Only,4.89

In [7]:
# define our variables of interest
target_column = 'Diabetes'
target_column_onehot = 'yes'

columns=[
        'Categorical_BMI',
         'Education',
         'Poverty_Ratio'
         ]
         
columnsCAT=[
         'Categorical_BMI',
         'Education',
         ]

In [8]:
# combine columns + target_column and display
XYcolumns = columns + [target_column]
XYcolumns

['Categorical_BMI', 'Education', 'Poverty_Ratio', 'Diabetes']

In [9]:
# locate XY in the original df
XY = clean_df2.loc[ :, XYcolumns ].copy()
XY

      Categorical_BMI                    Education  Poverty_Ratio Diabetes
0          Overweight                   Grade_1-11           1.93       no
1          Overweight  Associates_Academic_Program           4.45      yes
2          Overweight                     Bachelor           5.94       no
3               Obese       Some_College_no_degree           3.70       no
4               Obese         High_School_Graduate           1.66       no
...               ...                          ...            ...      ...
29477      Overweight                      Masters           5.11       no
29478           Obese  Associates_Academic_Program           3.03      yes
29479      Overweight         High_School_Graduate           2.07       no
29480  Healthy_Weight       Some_College_no_degree           2.05       no
29481           Obese         High_School_Graduate           4.89      yes

[29482 rows x 4 columns]

In [10]:
# drop null
XY = XY.dropna()
XY

      Categorical_BMI                    Education  Poverty_Ratio Diabetes
0          Overweight                   Grade_1-11           1.93       no
1          Overweight  Associates_Academic_Program           4.45      yes
2          Overweight                     Bachelor           5.94       no
3               Obese       Some_College_no_degree           3.70       no
4               Obese         High_School_Graduate           1.66       no
...               ...                          ...            ...      ...
29477      Overweight                      Masters           5.11       no
29478           Obese  Associates_Academic_Program           3.03      yes
29479      Overweight         High_School_Graduate           2.07       no
29480  Healthy_Weight       Some_College_no_degree           2.05       no
29481           Obese         High_School_Graduate           4.89      yes

[28595 rows x 4 columns]

In [11]:
# get dummy for features
X = pd.get_dummies (XY[columns], columns=columnsCAT)
X

,Poverty_Ratio,Categorical_BMI_Healthy_Weight,Categorical_BMI_Obese,Categorical_BMI_Overweight,Categorical_BMI_Underweight,Education_12th_Grade_no_diploma,Education_Associates_Academic_Program,Education_Associates_Occupational_Technical_Vocational,Education_Bachelor,Education_GED_Equivalent,Education_Grade_1-11,Education_Greater_Than_Master,Education_High_School_Graduate,Education_Masters,Education_Some_College_no_degree
0,1.93,0,0,1,0,0,0,0,0,0,1,0,0,0,0
1,4.45,0,0,1,0,0,1,0,0,0,0,0,0,0,0
2,5.94,0,0,1,0,0,0,0,1,0,0,0,0,0,0
3,3.70,0,1,0,0,0,0,0,0,0,0,0,0,0,1
4,1.66,0,1,0,0,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29477,5.11,0,0,1,0,0,0,0,0,0,0,0,0,1,0
29478,3.03,0,1,0,0,0,1,0,0,0,0,0,0,0,0
29479,2.07,0,0,1,0,0,0,0,0,0,0,0,1,0,0
29480,2.05,1,0,0,0,0,0,0,0,0,0,0,0,0,1
29481,4.89,0,1,0,0,0,0,0,0,0,0,0,1,0,0

In [12]:
# get target
y = pd.get_dummies (XY[target_column].astype('str'))
y

       no  yes
0       1    0
1       0    1
2       1    0
3       1    0
4       1    0
...    ..  ...
29477   1    0
29478   0    1
29479   1    0
29480   1    0
29481   0    1

[28595 rows x 2 columns]

In [13]:
# get target
y = y[target_column_onehot]
y

0        0
1        1
2        0
3        0
4        0
        ..
29477    0
29478    1
29479    0
29480    0
29481    1
Name: yes, Length: 28595, dtype: uint8

In [14]:
# show shape of our matrix
print(columns, X.shape, y.shape)

['Categorical_BMI', 'Education', 'Poverty_Ratio'] (28595, 15) (28595,)

In [15]:
# show df
print(XY.head())

  Categorical_BMI                    Education  Poverty_Ratio Diabetes
0      Overweight                   Grade_1-11           1.93       no
1      Overweight  Associates_Academic_Program           4.45      yes
2      Overweight                     Bachelor           5.94       no
3           Obese       Some_College_no_degree           3.70       no
4           Obese         High_School_Graduate           1.66       no

In [16]:
# train
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [17]:
# initialize standardscaler
X_scaler = skl.preprocessing.StandardScaler()

In [18]:
# scale X_train
X_train_scaled = X_scaler.fit_transform(X_train)
X_train_scaled

array([[ 0.32725109, -0.68329691, -0.68564745, ...,  1.84491086,
        -0.35597838, -0.4227002 ],
       [ 2.25081285, -0.68329691, -0.68564745, ..., -0.54203161,
        -0.35597838, -0.4227002 ],
       [-0.77954702, -0.68329691,  1.4584755 , ...,  1.84491086,
        -0.35597838, -0.4227002 ],
       ...,
       [-0.92289737, -0.68329691,  1.4584755 , ..., -0.54203161,
        -0.35597838,  2.3657429 ],
       [ 1.14068102, -0.68329691, -0.68564745, ..., -0.54203161,
         2.80915939, -0.4227002 ],
       [-0.59952564, -0.68329691, -0.68564745, ...,  1.84491086,
        -0.35597838, -0.4227002 ]])

In [19]:
# scale X_test
X_test_scaled = X_scaler.fit_transform(X_test)
X_test_scaled

array([[ 0.17386627, -0.68033863, -0.69379465, ..., -0.52788459,
        -0.35447074, -0.42414346],
       [-0.96971571, -0.68033863,  1.44134868, ..., -0.52788459,
        -0.35447074,  2.35769285],
       [-0.0501688 , -0.68033863, -0.69379465, ..., -0.52788459,
        -0.35447074,  2.35769285],
       ...,
       [-0.99312236, -0.68033863, -0.69379465, ..., -0.52788459,
        -0.35447074,  2.35769285],
       [-1.11684321, -0.68033863,  1.44134868, ...,  1.89435348,
        -0.35447074, -0.42414346],
       [-1.10346799, -0.68033863,  1.44134868, ..., -0.52788459,
        -0.35447074, -0.42414346]])

In [20]:
# implement random oversampling
ros = RandomUnderSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train_scaled, y_train)
X_resampled, y_resampled

(array([[ 0.46060025, -0.68329691,  1.4584755 , ..., -0.54203161,
          2.80915939, -0.4227002 ],
        [-1.08625011, -0.68329691, -0.68564745, ..., -0.54203161,
         -0.35597838, -0.4227002 ],
        [-1.32961234,  1.46349265, -0.68564745, ..., -0.54203161,
         -0.35597838, -0.4227002 ],
        ...,
        [ 0.42392923, -0.68329691, -0.68564745, ..., -0.54203161,
         -0.35597838, -0.4227002 ],
        [-0.18280949, -0.68329691,  1.4584755 , ..., -0.54203161,
         -0.35597838, -0.4227002 ],
        [ 1.14068102, -0.68329691, -0.68564745, ..., -0.54203161,
          2.80915939, -0.4227002 ]]),
 0       0
 1       0
 2       0
 3       0
 4       0
        ..
 4541    1
 4542    1
 4543    1
 4544    1
 4545    1
 Name: yes, Length: 4546, dtype: uint8)

In [21]:
# create a linear regression model
model = linear_model.LinearRegression()
model

LinearRegression()

In [22]:
# train the model using the training sets
model.fit(X_resampled, y_resampled)

LinearRegression()

In [23]:
# make predictions using the testing set
y_pred = model.predict(X_test_scaled)
y_pred

array([ 2.94557770e+11,  5.41468241e+10,  5.77609669e+10, ...,
        5.77609669e+10, -3.52089002e+11,  2.90943627e+11])

In [24]:
print(y_pred.shape)

(7149,)

In [25]:
# The coefficients
print("Coefficients: \n", model.coef_)
# The mean squared error
print("Mean squared error: %.2f" % mean_squared_error(y_test, y_pred))
# The coefficient of determination: 1 is perfect prediction
print("Coefficient of determination: %.2f" % r2_score(y_test, y_pred))

Coefficients:
 [-3.81802596e-02  2.66183628e+11  2.66514676e+11  2.71792963e+11
  7.19952409e+10 -2.96622368e+12 -6.70118092e+12 -4.54335856e+12
 -1.00549403e+13 -3.47392219e+12 -6.01871021e+12 -4.60398999e+12
 -9.92002588e+12 -7.48104281e+12 -8.49166730e+12]
Mean squared error: 55749175238305763033088.00
Coefficient of determination: -588153949519123870384128.00